<app-back-button ></app-back-button>
<app-common-header></app-common-header>

<div *ngIf="contactItem">
<mat-card class="example-card" >

<mat-card-header>
<div class="flex-container">
<button mdc-fab class="mdc-fab-delete-btn" [mini]="false" [mdc-elevation]="12" (click)= deleteMe()>
  <mdc-icon [fontSize]="20" >delete</mdc-icon>
</button>
<button mdc-fab class="mdc-fab-edit-btn" [mini]="false" [mdc-elevation]="12" (click)= editMe()>
  <mdc-icon [fontSize]="20" >edit</mdc-icon>
</button>
<div class="tool-bg-right edit"></div>
</div>
    <mat-card-title mdc-typography-title >{{contactItem.Contacts[0].firstname}} {{contactItem.Contacts[0].LastName}}</mat-card-title>
    <mat-card-subtitle mdc-typography-body1 >{{contactItem.Contacts[0].title}}</mat-card-subtitle>
</mat-card-header>
  <mat-card-content class="title">
    <p mdc-typography-title >{{contactItem.CompanyName}}</p>
    <div class="address">{{contactItem.StreetAddress}} {{contactItem.City}} {{contactItem.State}} {{contactItem.ZipCode}}</div>
  </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title mdc-typography-title >

        <span class="item-name">Name:</span>
        <span class=" item-value"><strong>{{contactItem.Contacts[0].firstname}} {{contactItem.Contacts[0].LastName}}</strong></span>

    </mat-card-title>
</mat-card>
<mat-card>
    <mat-card-title mdc-typography-title >

        <span class="item-name">Address:</span>
        <span class=" item-value"><strong>{{contactItem.Contacts[0].ContactAddress}}</strong></span>

    </mat-card-title>
</mat-card>
<mat-card>
    <mat-card-title mdc-typography-title >

        <span class="item-name">City:</span>
        <span class=" item-value"><strong>{{contactItem.Contacts[0].ContactCity}}</strong></span>

    </mat-card-title>
</mat-card>
<mat-card>
    <mat-card-title mdc-typography-title >

        <span class="item-name">State:</span>
        <span class=" item-value"><strong>{{contactItem.Contacts[0].ContactState}}</strong></span>

    </mat-card-title>
</mat-card>
<mat-card>
    <mat-card-title mdc-typography-title >

        <span class="item-name">Zip:</span>
        <span class=" item-value"><strong>{{contactItem.Contacts[0].ContactZip}}</strong></span>

    </mat-card-title>
</mat-card>
<mat-card>
    <mat-card-title mdc-typography-title >

        <span class="item-name">Email:</span>
        <span class=" item-value"><strong>{{contactItem.Contacts[0].email}}</strong></span>

    </mat-card-title>
</mat-card>
<mat-card>
    <mat-card-title mdc-typography-title >

        <span class="item-name">Primary Phone:</span>
        <span class=" item-value"><strong>{{contactItem.Contacts[0].PrimaryPhone}}</strong></span>

    </mat-card-title>
</mat-card>
<mat-card>
    <mat-card-title mdc-typography-title >

        <span class="item-name">Mobile Phone:</span>
        <span class=" item-value"><strong>{{contactItem.Contacts[0].MobilePhone}}</strong></span>

    </mat-card-title>
</mat-card>
<mat-card>
    <mat-card-title mdc-typography-title >

        <span class="item-name">Birthday:</span>
        <span class=" item-value"><strong>{{contactItem.Contacts[0].birthday}}</strong></span>

    </mat-card-title>
</mat-card>
</div>

