.mat-card{
  background-color: #fff
}
.example-card {
  color: #4d4842;
  height: 190px;
  background-color: #9fa7aa;
}
card-title {
  margin-bottom: 8px;
  font-weight: 600;
}
mat-card-header .mdc-typography-title{
  font-size: 1.6em;
}
.mat-card-header-text {
    margin: 0 0px;

}
.title .mdc-typography-title{

  font-weight: 600;
  font-size: 1.25em;
  margin-bottom: 0px;
}
.address{

}
.item-value{
  color: #4d4842;
}
.item-name{
  font-weight: 400;
  font-size: 1em;
}
.mdc-fab-delete-btn {
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #d51313;
  width: 30px;
  height: 30px;
  z-index: 999;
}
.mdc-fab-edit-btn {
  position: absolute;
  right: 10px;

  background-color: #8b9756;
  width: 30px;
  height: 30px;
  z-index: 999;
}