
    .sec1 {
      background: #fff;
      color:#000;

    }

    .sec2 {
      background: #fff;
      color:#000;

    }


    .sec1, .sec2 {


    }

    .content {
      min-width: 300px;
      /*height: 400px;*/
    }
.example-card {
  /*max-width: 400px;*/
  color: #4d4842;
  height: 190px;
  background-color: #9fa7aa;
}


.mat-card-title {
  margin-bottom: 8px;
  font-weight: 600;
}


mat-card-header .mdc-typography--title{
  font-size: 1.6em;
}

.mat-card-header-text {
    margin: 0 0px;

}
.title{
  /*
  position: absolute;
  bottom: 0px;
  */
}
.title .mdc-typography--title{
  text-align: center;
  font-weight: 600;
  font-size: 1.25em;
  margin-bottom: 0px;
}
.address{
  text-align: center;
}
.item-value{
  color: #4d4842;
}
.item-name{
  font-weight: 400;
  font-size: 1em;
}
.mdc-fab-delete-btn {
  background-color: red;
  width: 30px;
  height: 30px;


}