<header ngClass.lt-md="{ heaader-lg }" style="text-align:center; color:#fff;">
	<div class="top"></div>
	<div class="header-content">
    <figure>
      <img src="assets/logo.png">
    </figure>
	</div>
</header>

<div class="wrapper" >
  <div class="container">
  <div class="loader" *ngIf="!isResults">
    Loading...
  </div>
  <button *ngIf="isResults" mdc-fab class="mdc-fab-arrow-btn" [mini]="false" [mdc-elevation]="12" routerLink="/contacts">
    <mdc-icon [fontSize]="52" >forward</mdc-icon>
  </button>
  <div>
</div>
