

<!--
<div class="demo-container">
	<h3>Start Graphic</h3>
	<div fxLayout="row" fxLayoutWrap>
		<button mdc-button (click)="startgraphic.border = !startgraphic.border">Border: {{startgraphic.border ? 'On' : 'Off'}}</button>
		<button mdc-button (click)="startgraphic.dense = !startgraphic.dense">Dense: {{startgraphic.dense ? 'On' : 'Off'}}</button>
		<button mdc-button (click)="startgraphic.interactive = !startgraphic.interactive">Interactive w/Ripple: {{startgraphic.interactive ? 'On' : 'Off'}}</button>
	</div>


	</div>
-->
		<div *ngIf="contactItem">

		<mdc-list-item routerLink="/edit-contact/{{contactItem.CompanyID}}" >
			<mdc-icon mdc-list-item-graphic >mode_edit</mdc-icon>{{contactItem.CompanyName}}
			<mdc-icon mdc-list-item-meta>info</mdc-icon>
		</mdc-list-item>
	</div>



<!--
	<mat-card>
		<div class="container">
			<div class="row">
				<i style="font-size: 40px !important; color:#757575" class="material-icons col">contacts</i>
				{{contactItem.CompanyName}}
				<a routerLink="/edit-contact/{{contactItem.CompanyID}}"> <i class="material-icons col" >edit</i> </a>
		</div>
		</div>
	</mat-card>
-->
<!--<div class="col_md">{{ contactItem.CompanyID }}</div>-->

<!--
<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ contactItem.CompanyName }}
    </mat-panel-title>
    <mat-panel-description>
      {{ contactItem.CompanyID }}
    </mat-panel-description>
  </mat-expansion-panel-header>
<div class="container"><div class="row"><div class="col pull-left">CompanyID:</div><div class="col pull-left">{{ contactItem.CompanyID }}</div></div></div>


<div class="container"><div class="row"><div class="col pull-left">AccountId:</div><div class="col pull-left">{{ contactItem.AccountId }}</div></div></div>
<div class="container"><div class="row"><div class="col pull-left">CompanyName:</div><div class="col pull-left">{{ contactItem.CompanyName }}</div></div></div>
<div class="container"><div class="row"><div class="col pull-left">StreetAddress:</div><div class="col pull-left">{{ contactItem.StreetAddress }}</div></div></div>
<div class="container"><div class="row"><div class="col pull-left">StreetAddress2:</div><div class="col pull-left">{{ contactItem.StreetAddress2 }}</div></div></div>
<div class="container"><div class="row"><div class="col pull-left">City:</div><div class="col pull-left">{{ contactItem.City }}</div></div></div>
<div class="container"><div class="row"><div class="col pull-left">State:</div><div class="col pull-left">{{ contactItem.State }}</div></div></div>
<div class="container"><div class="row"><div class="col pull-left">Country:</div><div class="col pull-left">{{ contactItem.Country }}</div></div></div>
<div class="container"><div class="row"><div class="col pull-left">ZipCode:</div><div class="col pull-left">{{ contactItem.ZipCode }}</div></div></div>
<div class="container"><div class="row"><div class="col pull-left">webSite:</div><div class="col pull-left">{{ contactItem.webSite }}</div></div></div>



</mat-expansion-panel>
</mat-accordion>
-->