header {
    width: 100%;
    height: 90px;
    background-color: #4d4842;
}
header .top {
    /*
    position: relative;
    left: 90px;
    */
    width: 100%;
    height: 20px;
    background-color: #5d7a9a;
}

.heaader-lg{
    height: 200px;
}
.logo-box{
    /*
    position: absolute;
    top: 0px;
    left: 0px;
    */
    width: 90px;
    height: 90px;
    background-color: #ef9004;
}